<v-card v-if="data" class="overlay" dark raised width="400px">
  <v-card-title>
    <v-icon large left>
      mdi-filter
    </v-icon>
    <span class="title font-weight-light">Selections</span>
  </v-card-title>

  <v-card-actions>
    <v-range-slider
      v-model="range"
      :max="max"
      :min="0"
      hide-details
      v-on:input="updateDates"
      class="align-center"
    >
      <template v-slot:prepend>
        {{ from }}
      </template>
      <template v-slot:append>
        {{ to }}
      </template>
    </v-range-slider> </v-card-actions
  ><v-card-actions>
    <v-select
      v-model="typeSelection"
      :items="items"
      v-on:input="changeType"
      dark
      solo
    />
  </v-card-actions>
</v-card>
