<v-card v-if="data" dark raised :width="width">
  <v-card-title class="justify-center">
    <v-icon
      class="hidden-sm-and-down"
      large
      left
    >
      mdi-filter
    </v-icon>
    <span
      :class="{'title': $vuetify.breakpoint.mdAndUp,'subtitle-1': $vuetify.breakpoint.smAndDown, 'font-weight-light': true}"
      >Filters</span
    >
  </v-card-title>

  <v-card-actions style="margin-top: 2rem;">
    </v-icon>
    <v-range-slider
      v-model="range"
      :max="max"
      :min="0"
      hide-details
      v-on:input="updateDates"
      class="align-center"
      thumb-label="always"
      :thumb-size="45"
      thumb-color="grey darken-2"
      :prepend-icon="$vuetify.breakpoint.mdAndUp ? 'mdi-calendar-range' : ''"
      :dense="$vuetify.breakpoint.smAndDown"
      dark
    >
    <template dark v-slot:thumb-label="{value}">
      {{ data[value].date }}
    </template>
    </v-range-slider> </v-card-actions
  ><v-card-actions>
    <v-select
      :prepend-icon="$vuetify.breakpoint.mdAndUp ? 'mdi-human-male-male' : ''"
      v-model="typeSelection"
      :items="items"
      v-on:input="changeType"
      :dense="$vuetify.breakpoint.smAndDown"
      dark
      solo
    />
  </v-card-actions>
</v-card>